<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lpictraineeteacher.project.local.lpic_trainee_teacher">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material">
        <activity
            android:name=".AcivitysMain.SplashScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AcivitysMain.CategoryActivity" />
        <activity android:name=".AcivitysMain.RubricActivity" />
        <activity android:name=".AcivitysMain.QuestionActivity" />
        <activity android:name=".ActivitysBaseData.CategoryBDActivity" />
        <activity android:name=".ActivitysBaseData.RubricBDActivity" />
        <activity android:name=".ActivitysBaseData.QuestionBDActivity" />
        <activity android:name=".ActivitysBaseData.AnswerBDActivity" />
        <activity android:name=".ActivitysBaseData.QuestionNewBDActivity" />
        <activity android:name=".ActivitysBaseData.AnswerNewBDActivity" />
        <activity android:name=".ActivitysBaseData.CategoryNewBDActivity" />
        <activity android:name=".ActivitysBaseData.RubricNewBDActivity" />
    </application>

</manifest>